.timer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 60px;
  margin-right: 35px;
}
.last-field {
  margin-right: 0;
}
.value {
  display: block;
  font-size: 40px;
}
